.body {
    background-color: rgb(234, 234, 243);
}

.wrapper {
    width: 750px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-screen {
    width: 750px;
    height: 200px;
    margin: 0 0 20px 0;
}

.keyboard {
    width: 731px;
    height: max-content;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(70, 70, 207);
}
.keyboard__row {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.key {
    width: 45px;
    height: 45px;
    border-radius: 3px;
    background-color: rgb(177, 177, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(70, 70, 207);
    font-size: 20px;
    font-weight: 700;
}
.key-double{
    width: 94px;

}

.key-space {
    width: 339px;
}

@keyframes color-key {
    from {background-color: rgb(177, 177, 207);;}
    to {background-color: yellow;}
}
.active {
    animation-name: color-key;
    animation-duration: .2s;
}

